@charset "utf-8";
/*globe*/
/***************** reset *****************/
body, ul, ol, h1, h2, h3, h4, h5, h6, form, ul, li, p, input, select, legend, textarea, dl, dd, dt, fieldset, table, th, td {
	margin:0;
	padding:0;
	word-break:break-all;
}

body {
	font:16px/1 "\5FAE\8F6F\96C5\9ED1", "\5B8B\4F53";
	-webkit-text-size-adjust:none;
	margin:0 auto;
}

div {
	margin:0 auto;
	word-break:break-all;
}

html {
	margin:0;
	padding:0;
}

ul, li {
	list-style:none;
}

a {/*color:#5b5a5a;*/
	text-decoration:none;
    blr:expression(this.onFocus=this.blur());
	outline:none;
	cursor:pointer;
}

a:hover { /*color:#0064ab; */
	text-decoration:none;
}

.clear{ 
	clear:both;
	}
/*main*/
.w640{width:640px; 
	 margin: 0 auto;
	 background:url("../images/index_bg.png")/*tpa=images/index_bg.png*/ no-repeat; 
	 height:1135px; position:relative;
	 background-size:100%;
}

header .title{ 
	padding-top:40%;
}

.hm_icon a img { 
	position:absolute; 
	right:30px; 
	top:30px; 
	border:0px;
}

header .f12{ 
	padding-top:40%; 
	margin:0 auto;  
	background:url("../images/120f.png")/*tpa=images/100f.png*/ no-repeat 0 215px;  
	width:100%; 
	height:165px; 
}

header .f11{ 
	padding-top:40%; 
	margin:0 auto;  
	background:url("../images/110f.png")/*tpa=images/100f.png*/ no-repeat 0 215px;  
	width:100%; 
	height:165px; 
}

header .f10{ 
	padding-top:40%; 
	margin:0 auto;  
	background:url("../images/100f.png")/*tpa=images/100f.png*/ no-repeat 0 215px;  
	width:100%; 
	height:165px; 
}

header .f9{ 
	padding-top:40%; 
	margin:0 auto;  
	background:url("../images/90f.png")/*tpa=images/90f.png*/ no-repeat 0 215px;  
	width:100%; 
	height:165px; 
}

header .f8{ 
	padding-top:40%; 
	margin:0 auto;  
	background:url("../images/80f.png")/*tpa=images/80f.png*/ no-repeat 0 215px;  
	width:100%; 
	height:165px; 
}

header .f7{ 
	padding-top:40%; 
	margin:0 auto;  
	background:url("../images/70f.png")/*tpa=images/70f.png*/ no-repeat 0 215px;  
	width:100%; 
	height:165px; 
}

header .f6{ 
	padding-top:40%; 
	margin:0 auto;  
	background:url("../images/60f.png")/*tpa=images/60f.png*/ no-repeat 0 215px;  
	width:100%; 
	height:165px; 
}

header .f5{ 
	padding-top:40%; 
	margin:0 auto;  
	background:url("../images/50f.png")/*tpa=images/50f.png*/ no-repeat 0 215px;  
	width:100%; 
	height:165px; 
}

header .f4{ 
	padding-top:40%; 
	margin:0 auto;  
	background:url("../images/40f.png")/*tpa=images/40f.png*/ no-repeat 0 215px;  
	width:100%; 
	height:165px; 
}

header .f3{ 
	padding-top:40%; 
	margin:0 auto;  
	background:url("../images/30f.png")/*tpa=images/30f.png*/ no-repeat 0 215px;  
	width:100%; 
	height:165px; 
}

header .f2{ 
	padding-top:40%; 
	margin:0 auto;  
	background:url("../images/20f.png")/*tpa=images/20f.png*/ no-repeat 0 215px;  
	width:100%; 
	height:165px; 
}

header .f1{ 
	padding-top:40%; 
	margin:0 auto;  
	background:url("../images/10f.png")/*tpa=images/10f.png*/ no-repeat 0 215px;  
	width:100%; 
	height:165px; 
}

header .f0{ 
	padding-top:40%; 
	margin:0 auto;  
	background:url("../images/0f.png")/*tpa=images/0f.png*/ no-repeat 0 215px;  
	width:100%; 
	height:165px; 
}

.hm_text { 
	padding-top:36px; 
	line-height:36px; 
	font-size:28px; 
	color:#540506; 
	width:548px; 
	margin:0 auto;
}

.hm_text01 { 
	padding-top:30px;
}

.hm_text02 { 
	padding-top:40px;
	text-align: center;
	font-size: 250%;
}

.btn_bg a { 
	background:url("../images/btn_bg.png")/*tpa=images/btn_bg.png*/ no-repeat; 
	width:387px; 
	height:106px; 
	margin-bottom:8px; 
	line-height:96px; 
	font-size:30px; 
	color:#fff; 
	padding-left:38%;  
	display:block;
}

.hm_btn { 
	width:493px; 
	height:106px; 
	margin:0 auto; 
	margin-top:50px;  
}

.content { 
	background:url("../images/t_w.png")/*tpa=images/t_w.png*/; 
	border-radius:6px; 
	width:560px; 
	margin:0 auto; 
	padding:20px; 
	margin-top:30px; 
	line-height:36px; 
	min-height:280px; 
	font-size:30px;
}

.content_img { 
	width:480px; 
	height:300px; 
	margin:0 auto; 
	position:relative;
}

.subject_t { 
	line-height:36px; 
	padding-bottom:10px; 
	font-weight:bold;
}

.content p { 
	margin-bottom:12px;
}

.content p input { 
	margin-right:10px; 
	width:22px; 
	height:22px;
}

.no_choice { 
	text-align:center; 
	font-size:30px; 
	height:36px; 
	line-height:36px; 
	color:#FFF; 
	margin-top:30px;
}

.enter_btn a{ 
	background:url("../images/tj_btn_bg.png")/*tpa=images/tj_btn_bg.png*/ no-repeat; 
	width:323px; 
	margin:0 auto; 
	margin-top:20px; 
	height:89px; 
	line-height:74px; 
	color:#d22f28; 
	font-size:30px; 
	text-align:center; 
	display:block;
}

.content_tl { 
	background:url("../images/t_w.png")/*tpa=images/t_w.png*/; 
	border-radius:6px; 
	width:560px; 
	margin:0 auto; 
	padding:20px; 
	margin-top:-10px; 
	line-height:36px; 
	min-height:280px;  
	font-size:24px;
}

.content_tl p { 
	margin-bottom:5px;
}

.content_tl .p_left{ 
	float:left;
	width:50%;
}

.content_tl p input { 
	margin-right:10px; 
	width:22px; 
	height:22px;
}

.content_tl_img img { 
	width:548px; 
	height:360px; 
	border-radius:8px; 
	border:6px #FFF solid; 
	margin:0 auto; 
}

.content_tl_t { 
	line-height:36px; 
	padding-bottom:6px; 
	font-weight:bold;
}

.subject_img { 
	width:367px; 
	margin:0 auto; 
	margin-top:20px; 
	position:relative;
}

.subject_img span { 
	position:absolute; 
	bottom:12px; 
	right:12px;
}

.right { 
	background:url("../images/right.png")/*tpa=images/right.png*/ no-repeat; 
	width:50%; 
	height:50%;
}

.wrong { 
	background:url("../images/wrong.png")/*tpa=images/wrong.png*/ no-repeat; 
	width:50%; 
	height:50%;
}

.content_jd { 
	background:url("../images/t_b.png")/*tpa=images/t_b.png*/; 
	position:relative; 
	border-radius:6px; 
	width:560px; 
	margin:0 auto; 
	padding:20px; 
	margin-top:30px; 
	line-height:36px; 
	min-height:420px; 
	color:#450b0c; 
	font-size:26px;
}

.content_jd p {
	margin-bottom:12px;
}

.content_jd span { 
	position:absolute; 
	bottom:12px; 
	right:12px;
}

.content_jd .ys {
	color: #d30101;
}

.content_tljd { 
	background:url("../images/t_b.png")/*tpa=images/t_b.png*/; 
	position:relative; 
	border-radius:6px; 
	width:560px; 
	margin:0 auto; 
	padding:20px; 
	margin-top:30px; 
	line-height:36px; 
	min-height:520px; 
	color:#450b0c; 
	font-size:28px;
}

.content_tljd p { 
	margin-bottom:12px;
}

.content_tljd span { 
	position:absolute; 
	bottom:12px; 
	right:12px;
}

.content_tljd .ys {
	color: #d30101;
}

.m_w640{
	width:640px; 
	margin: 0 auto; 
	background:url("../images/index_bg.png")/*tpa=images/index_bg.png*/ no-repeat; 
	height:836px; 
	padding-top:164px; 
	position:relative;
	background-size:100%;
}

/* 滑动焦点图 */
.swiper-container {
	height:auto;
	width:90%;
	text-align:center;
	margin:0 auto;
	position:relative;
	overflow:hidden;
	z-index:5;
	background:none;
}
/*.swiper-wrapper {position: relative;z-index:10;}
.swiper-slide {position:relative;text-align:center; float:left;}
.swiper-slide a{ position:relative; width:367px; height:480px; display:block; overflow:hidden;}
.swiper-slide img{ width:367px; height:450px; max-height:100%;vertical-align:middle; position:relative;}
.pagination{ position:absolute; height:20px; width:100%;bottom:8px;z-index:100; text-align:right; text-align:center;}
.pagination .swiper-pagination-switch{ display:inline-block; height:10px; width:10px; line-height:10px; background:#999; border-radius:50%; _display:inline; margin-right:6px;}
.pagination .swiper-active-switch{ background:#0090ff;}*/

.swiper-wrapper {
	position: relative;
	z-index:10;
}

.swiper-slide {
	position:relative;
	text-align:center; 
	float:left;
}

.swiper-slide a{ 
	position:relative; 
	width:100%; 
	height:100%; 
	display:block; 
	overflow:hidden;
}

.swiper-slide img{ 
	max-height:100%;
	vertical-align:middle; 
	position:relative;
}

.pagination{ 
	position:absolute; 
	height:20px; 
	width:100%;
	bottom:10%;
	z-index:100; 
	text-align:right; 
	text-align:center;
}

.pagination .swiper-pagination-switch{ 
	display:inline-block; 
	height:10px; 
	width:10px; 
	line-height:10px; 
	background:#fff; 
	border-radius:50%; 
	display:inline; 
	margin-right:6px;
}

.pagination .swiper-active-switch{ 
	background:#fee972;
}

.user_head{
	width:100%; 
	background:#d10200; 
	text-align:center; 
	color:#fff; 
	font-size:20px; 
	position:relative; 
	padding:17px 0; 
	height:1%; 
	overflow:hidden
}

.user_head span{
	float:left;
	width:10%; 
	position:absolute; 
	height:auto; 
	left:10px; 
	top:15px
}

.user_head span img{
	width:45%; 
	vertical-align:middle
}

.login_con{
	height:1%; 
	overflow:hidden; 
	padding:0 0 20% 0;
}

#r1 { 
	position:absolute; 
	bottom:20%; 
	right:2%;
}

#w1 { 
	position:absolute; 
	bottom:20%; 
	right:2%;
}

#r2 { 
	position:absolute; 
	bottom:20%; 
	right:2%;
}

#w2 { 
	position:absolute; 
	bottom:20%; 
	right:2%;
}

#r3 { 
	position:absolute; 
	bottom:20%; 
	right:2%;
}

#w3 { 
	position:absolute; 
	bottom:20%; 
	right:2%;
}

#r4 { 
	position:absolute; 
	bottom:20%; 
	right:2%;
}

#w4 { 
	position:absolute; 
	bottom:20%; 
	right:2%;
}

#r5 { 
	position:absolute; 
	bottom:20%; 
	right:2%;
}

#w5 { 
	position:absolute; 
	bottom:20%; 
	right:2%;
}

#r6 { 
	position:absolute; 
	bottom:20%; 
	right:2%;
}

#w6 { 
	position:absolute; 
	bottom:20%; 
	right:2%;
}

#r7 { 
	position:absolute; 
	bottom:20%; 
	right:2%;
}

#w7 { 
	position:absolute; 
	bottom:20%; 
	right:2%;
}

#r8 { 
	position:absolute; 
	bottom:20%; 
	right:2%;
}

#w8 { 
	position:absolute; 
	bottom:20%; 
	right:2%;
}

#r9 { 
	position:absolute; 
	bottom:20%; 
	right:2%;
}

#w9 { 
	position:absolute; 
	bottom:20%; 
	right:2%;
}

#r10 { 
	position:absolute; 
	bottom:20%; 
	right:2%;
}

#w10 { 
	position:absolute; 
	bottom:20%; 
	right:2%;
}

#r11 { 
	position:absolute; 
	bottom:20%; 
	right:2%;
}

#w11 { 
	position:absolute; 
	bottom:20%; 
	right:2%;
}

#r12 { 
	position:absolute; 
	bottom:20%; 
	right:2%;
}

#w12 { 
	position:absolute; 
	bottom:20%; 
	right:2%;
}

#Input{
	text-align:center;
	font-size: 30pt;
}

#studentnumber{
	margin:auto;
	padding:10px
}

#name{
	margin:auto;
	padding:10px
}

#paiming{
	font-size: 300%;
	color: red;
}
